body {
    background-color: #eee;
}
.map {
    height: 50vh;
}
.logo-title {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
}
.map-filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #000000;
    background-color: transparent;
}
.map-filter a {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 4px;
    padding: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.activities-filter-btn.active {
    background-color: #40a2c5;
    color: #1e3a98;
}
.community-filter-btn.active {
    background-color: #cab993;
    color: #55452c;
}
.food-filter-btn.active {
    background-color: #824444;
    color: #2e0404;
}